<link rel="stylesheet" href="public/styles/rules.css">
<main class="main">
    <div class="main__body">
        <div class="main__note note">
            <div class="note__body">
                <div class="note__text">
                    Please take a moment to read through these FAQs and guidelines.
                    There is some useful information about how to use the forums,
                    our guidelines for behavior, and how to set up your account and profile.
                </div>
            </div>
        </div>
        <div class="main__info info">
            <div class="info__body">
                <div class="info__column"></div>
                <div class="info__column main-column">
                    <div class="info__content">
                        <div class="info__paragraph paragraph">
                            <div class="paragraph__body">
                                <div class="paragraph__header"><span>THE RULES AT A GLANCE</span></div>
                                <ul class="paragraph__text">
                                    <li>Spam -  <span>Ban</span></li>
                                    <li>Stolen content - <span>Ban</span></li>
                                    <li>Personal Insults - <span>Ban</span></li>
                                    <li>Religion/Politics argument - <span>Ban</span></li>
                                    <li>Administration Insults - <span>Shooting, then Ban</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="divider-line"></div>
                        <div class="info__paragraph paragraph">
                            <div class="paragraph__body">
                                <div class="paragraph__header"><span>THE RULES IN MORE DETAIL</span></div>
                                <ul class="paragraph__text">
                                    <li>
                                        <span>Nickname</span> <br>
                                        When selecting a nickname remember that this is a family-friendly forum,
                                        so please avoid words that might be considered risqué.
                                    </li>
                                    <li>
                                        <span>Account management</span> <br>
                                        We only allow one account per person please.
                                        If you lose access to your account, there's no need to
                                        create another one. Instead, try resetting your password on
                                        the login page, or contact an Administrator for help.
                                    </li>
                                    <li>
                                        <span>Remember, Everyone Was New Once</span> <br>
                                        The whole point of a forum is to learn, so for that very reason there is no such
                                        thing as a dumb question. So if searching hasn't helped, just ask and then bask in the
                                        goodness of knowing that hundreds of people in the future will benefit from the answers that you elicit.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="divider-line"></div>
                        <div class="info__paragraph paragraph">
                            <div class="paragraph__body">
                                <div class="paragraph__header"><span>OTHER THINGS WE ASK NOT TO DO</span></div>
                                <ul class="paragraph__text">
                                    <li>Domain name appraisals</li>
                                    <li>Social bookmarks</li>
                                    <li>Illegal and unethical content</li>
                                    <li>Affiliate links, coupons and offers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info__column"></div>
            </div>
        </div>
    </div>
</main>