<link rel="stylesheet" href="public/styles/footer.css">
<footer class="footer">
    <div class="footer__body">
        <div class="footer-logo">
            <img src="public/assets/icons/logo.png" class="footer-logo__picture">
            <div class="footer-logo__text">Programming <span>Forum</span></div>
        </div>
        <div class="footer-loadtime">
            <div class="footer-loadtime__text">⚠️ Sth went wrong!</div>
        </div>
    </div>
</footer>