.description {
    flex: 1 1 auto;
}

.description__body {
    display: flex;
    max-width: 1800px;
    margin: 80px auto;
    justify-content: space-between;
}
    
.description__image {
    height: 640px;
    width: 480px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 8%;
    margin: 0px 45px;
}

.description__info {
    padding: 50px 0;
    margin: 0px 45px;
}

.description-row {
    color: black;
}

.description-row__header {
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 45px;
}

.description-row__header span {
    color: white;
    background-color: black;
}

.description-row__text {
    font-size: 16px;
    margin: 0px 0px 40px 0px;
    line-height: 20px;
}

@media screen and (max-width: 960px) {
    .description__image {
        display: none;
    }

    .description__info {
        margin: 0px 20px;
    }
}